/bindings/** linguist-generated
/lilypond/src/** linguist-generated
/lilypond-scheme/src/** linguist-generated
lilypond/Makefile linguist-generated
lilypond-scheme/Makefile linguist-generated
Package.swift linguist-generated
setup.py linguist-generated
