name: CI

on: [push, pull_request]

jobs:
  Test:
    strategy:
      fail-fast: true
      matrix:
        os: [macos-latest, ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Check out repository
      uses: actions/checkout@v6

    - name: Set up Tree-sitter
      uses: tree-sitter/setup-action@v2
      with:
        install-lib: false

    - name: Run tests
      uses: tree-sitter/parser-test-action@v3
      with:
        generate: false
        test-rust: true
        test-node: false # due to https://github.com/tree-sitter/node-tree-sitter/issues/238
        test-python: true
        test-go: true
        go-version: "1.23"
        test-swift: true

    - name: Clone LilyPond regression test files
      run: git clone https://gitlab.com/lilypond/lilypond.git lilypond-source --single-branch --depth=1 --filter=blob:none

    - name: Parse LilyPond regression test files
      uses: tree-sitter/parse-action@v4
      id: lilypond
      with:
        files: |
          lilypond-source/**/*.ly
          !lilypond-source/input/regression/bom-mark.ly
          !lilypond-source/input/regression/other/display-lily-tests.ly
