name: Create release

on:
  push:
    tags: ["*"]

permissions:
  contents: write
  id-token: write
  attestations: write

jobs:
  github:
    uses: tree-sitter/workflows/.github/workflows/release.yml@7e826c707144002b73b91d2ac9952e6fff03dc5b
    with:
      attestations: true
